# Logs
*.log

# Dependency directories
node_modules/

# Build directories
dist/
build/

# Environment files
.env

# macOS system files
.DS_Store

# Optional: Ignore IDE-specific files
.idea/
.vscode/
*.iml
